body {
    background-color: #201f1f;
    margin: 0; /* Entfernt den Standardseitenrand */
    overflow: hidden; /* Verhindert das Scrollen, wenn die Sidebar zu groß ist */
  }
  
  /* Die Sidebar wird links am Bildschirm platziert und hat eine Breite von 250px */
  .sidebar {
    width: 250px;
    position: fixed; /* Hält die Sidebar beim Scrollen am Bildschirm */
    top: 0;
    left: 0;
    height: 100%; /* Füllt die gesamte Bildschirmhöhe aus */
  
    background: linear-gradient(
      rgb(250, 250, 250),
      rgba(0, 0, 0, 0.603)
    ); /* Farbverlauf mit Transparenz */
    padding-top: 20px; /* Platz oben für den Inhalt */
  }
  
  /* Stil für die Überschrift der Sidebar */
  .sidebar h2 {
    color: #000000; /* Textfarbe */
    text-align: center; /* Text zentrieren */
    margin-bottom: 20px; /* Abstand nach unten */
    font-size: 50px; /* Textgröße anpassen */
  }
  
  /* Stil für die Links in der Sidebar */
  .sidebar a {
    display: block; /* Macht den Link zu einem Blockelement */
    padding: 10px 20px; /* Innenabstand für den Link */
    color: #000000; /* Textfarbe */
    text-decoration: none; /* Keine Unterstreichung */
    transition: background-color 0.3s; /* Animiere Hintergrundfarbe */
    font-size: 35px; /* Textgröße anpassen */
  }
  
  /* Stil für Links im Hover-Zustand */
  .sidebar a:hover {
    background-color: #ffd00085; /* Hintergrundfarbe ändern */
  }
  
  /* Stil für aktiven Link (z. B. die aktuell ausgewählte Seite) */
  .sidebar a.active {
    background-color: #9900ff9c; /* Hintergrundfarbe für den aktiven Link */
    color: #fff; /* Textfarbe für den aktiven Link */
    font-size: 35px; /* Textgröße anpassen */
  }
  
  /* CSS zum Zentrieren und Anpassen des Twitch-Streams */
  #twitch-embed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 20px; /* Hier kannst du den gewünschten Abstand zur rechten Seite einstellen */
    width: calc(
        100% - 500px
    ); /* Die Gesamtbreite abzüglich des Abstands zur rechten Seite */
    height: 100%;
  }
  
  /* Stil für die rechte Sidebar */
  .right-sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(
        rgb(250, 250, 250),
        rgba(0, 0, 0, 0.603)
    );
    padding-top: 20px;
    z-index: 1; /* Stellt sicher, dass die rechte Sidebar über dem Twitch-Stream liegt */
  }
  
  /* Stil für Nachrichtenkästen in der rechten Sidebar */
  .message-box {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }